<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(135deg, #6c63ff, #c4c4c4);
            color: #333;
        }
        h1 {
            text-align: center;
            margin-bottom: 3rem;
            color: #0a056c;
            font-size: 2rem;
        }
        form {
            background: #91b2e7;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width:fit-content;
            width: 100%;
            margin: auto;
        }
        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
        }
        input {
            width: calc(100% - 16px);
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
            box-sizing: border-box;
        }
        input:focus {
            border-color: #6c63ff;
            outline: none;
        }
        button {
            width: 100%;
            padding: 0.7rem;
            border: none;
            border-radius: 4px;
            background-color: #6c63ff;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #5750d6;
        }
        table {
            width: 80%;
            border-collapse: collapse;
            margin-bottom: 20px;
            margin: auto;
            margin-top: 2rem;
        }
        thead {
            background-color: #191485;
            color: white;
        }
        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }
        tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }
        tbody tr:nth-child(even) {
            background-color: #f1f1f1;
        }
        caption {
            caption-side: top;
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
    <p>URL Generated: http://localhost:9867/url/<%= id %></p>
    <% } %>
    <div>
        <form method="POST" action="/url">
            <label>Enter Your Original URL</label>
            <input type="text" name="url" placeholder="https://example.com" />
            <button>Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S. No.</th>
                    <th>ShortID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>